## project-specific
build/*

## auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.tmp
*.out
*.glo
*.hd
*.xdv
*.ins
*.txt

## atach
*.atfi

## makeidx and glo
*.idx
*.ilg
*.ind
*.ist

## minted
_minted*
*.pyg

## Intermediate documents:
*.dvi
*.ps
*.pdf
*.ltx
*.tsc
*.tuc

## Build tool auxiliary files:
*.fdb_latexmk
*.synctex
*.synctex.gz
*.synctex.gz(busy)
*.synctex(busy)
*.pdfsync
*.zip

## For testing
**/sources/test-pkg/scontents.sty
**/sources/test-pkg/scontents.tex
**/sources/test-pkg/scontents-code.tex
**/sources/test-pkg/t-scontents.mkiv
